@import './mixins';

.nav {
	@include flexLayout(center, space-between);
}

.nav__logo {
	@include flexLayout();
	gap: 1.2rem;
	font-size: 3.2rem;
}

.nav__buttons {
	@include flexLayout(stretch);
	gap: 2.4rem;

	button {
		font-size: 3.2rem;
		font-weight: var(--font-weight-500);
	}
}
