@use '../abstracts/' as *;

.note-form {
	@include flexLayout(center, space-between);
	flex-direction: var(--flex-direction);
	gap: 1.2rem;

	input {
		background-color: inherit;
		border-color: transparent;
		font-size: 2rem;
		width: 100%;
		padding-inline: 1rem;

		&::placeholder {
			opacity: 0.5;
		}
	}

	button {
		width: 50%;
		padding-inline: 1rem;
		border-radius: 5px;
		transition: var(--transition-time);

		&:hover {
			scale: 1.1;
		}
	}
}

.card-note {
	@include flexLayout();
	flex-direction: column;
	padding-block: 3.6rem;
	margin-block-start: 2.4rem;
}

.note {
	@include flexLayout(center, space-between);
	flex-direction: var(--flex-direction);
	width: 100%;
	margin-block-start: 1.2rem;

	& > div {
		@include flexLayout(center, space-between);
		flex-direction: var(--flex-direction);
		gap: 2.4rem;
	}

	p {
		color: var(--clr-todo);
		font-size: 2rem;
	}
}

.note.completed {
	p {
		text-decoration: line-through;
		opacity: 0.5;
	}

	circle {
		fill: var(--clr-pink);
	}
}

.note-actions {
	width: 100%;
	margin-block-start: 3.6rem;
	color: var(--clr-todo);
	font-size: 1.6rem;
	@include flexLayout(center, space-between);
	flex-direction: var(--flex-direction);

	span {
		margin-inline-end: auto;
	}

	button:not(:last-of-type) {
		margin-inline-end: 1.2rem;
	}

	button:last-of-type {
		margin-inline-start: auto;
	}

	* {
		font-size: 1.6rem;
	}
}

.active {
	color: var(--clr-text-primary);
	font-weight: var(--font-weight-700);
}
